<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
        <body ng-app="app" ng-controller="appController">
        <!--{{2+2}}-->
<div ng-controller="appController">
    <div>
        <table>
            <tr>
                <td colspan="1"><label >Contact No</label></td> <td colspan="1"><input type="text" ng-model = "contactNo" name="contactNo"/></td>
            </tr>
            <tr>
                <td colspan="1"><label>Radius</label></td> <td colspan="1"><input type="text" ng-model = "radius"/></td>
            </tr>
            <tr>
                <td colspan="1"><label>Choose Service Type</label></td>
                <td colspan="1">
                    <select ng-model="serviceType">
                <option selected="selected" value="ACCOUNTING">ACCOUNTING </option>
                <option value="FINANCEINSURANCE"> FINANCE INSURANCE </option>
                <option value="PARTSINVENTORY"> PARTS INVENTORY </option>
                <option value="SERVICEMERCHANDISING"> SERVICE MERCHANDISING </option>
                 <option value="SALESMANAGEMENT"> SALES MANAGEMENT </option>
                </select>
                </td>
            </tr>
            <tr>
                <td colspan="1"><label>Model No</label></td> <td colspan="1"><input type="text" ng-model = "modelNo"/></td>
            </tr>
            <tr>
                <td colspan="1"> <label>Street Address</label>  </td> <td colspan="1"><input type="text" ng-model = "streetAddress"/></td>
            </tr>
            <tr>
                <td colspan="1"> <label>City</label>  </td> <td colspan="1"><input type="text" ng-model = "city"/></td>
            </tr>
            <tr>
                <td colspan="1"> <label>State Code</label>  </td> <td colspan="1"><input type="text" ng-model = "stateCode"/></td>
            </tr>
            <tr>
                <td colspan="1"> <label>State</label>  </td> <td colspan="1"><input type="text" ng-model = "state"/></td>
            </tr>
            <tr>
                <td colspan="1"> <label>Country</label>  </td> <td colspan="1"><input type="text" ng-model = "country"/></td>
            </tr>
            <tr>
                <td colspan="1"> <label>Pin Code</label>  </td> <td colspan="1"><input type="text" ng-model = "pincode"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">       <button ng-click="showDealerDetails()" id="submitButton">submit</button></td>
            </tr>
        </table>
<br>
    </div>
    <!-- Code to show API response-->
        <div style="float:left;width: 70%">
            <table border="1" id="showOutput">
                <thead id="outputheader">
                    <th>Store name</th>
                    <th>Address</th>
                    <!--<th>Location</th>-->
                    <th>Distance from you(in Miles)</th>
                </thead>
                <tr ng-repeat="store in responseData.storeDetails">
                    <td>{{store.storeName}}</td>
                    <td>{{store.formattedAddress}}</td>
                    <!--<td>{{store.longitude}}  , {{store.latitude}}</td>-->
                    <td>{{store.distance}}</td>
                </tr>
            </table>
        </div>


    <div style="float:right;width: 30%">
        <marquee behavior="slide" direction="left" onmousedown ="this.stop();">
            <img src="images/mercedes.jpeg">
    </marquee>
    </div>
</div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="script.js"></script>
    <link rel = "stylesheet"
          type = "text/css"
          href = "style.css" />
</html>