#showOutput{
    width:70%;
}
#autoImage{
    width: 30%;
    align-items: center;
}
select,input[type=text] {
    height: 30px;
    width: 200px;
    transition: ease-in-out, width .35s ease-in-out;
}
input[type=text]:hover{
    background-color:#A0BFAB;
}
button{
    height: 30px;
    background-color: #4CAF50;
}
#outputheader{
    background: #4CAF50;
}

button:hover{
    border-color:#B5AEA8;border-width: 1px 1px 5px 1px;border-style: solid;
    background-color: #E0E0E0; background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#979797));
    background-image: -webkit-linear-gradient(top, #E0E0E0, #979797);
    background-image: -moz-linear-gradient(top, #E0E0E0, #979797);
    background-image: -ms-linear-gradient(top, #E0E0E0, #979797);
    background-image: -o-linear-gradient(top, #E0E0E0, #979797);
    background-image: linear-gradient(to bottom, #E0E0E0, #979797);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E0E0E0, endColorstr=#979797);
}